/**
 * @var {color}
 * The color to use for tool icons when {@link Global_CSS#$enable-font-icons} is `true`.
 */
$tool-glyph-color: 		$color-app-text-black;

/**
 * @var {string/list}
 * Glyph for the "close" tool icon when {@link Global_CSS#$enable-font-icons} is `true`.
 */
$tool-close-glyph: 		$iwp-icon-font-gen_close $iwp-icon-font-button-small $iwp-icon-font-family;

/**
 * @var {string/list}
 * Glyph for the downward "expand" tool icon when {@link Global_CSS#$enable-font-icons} is `true`.
 */
$tool-expand-bottom-glyph: dynamic($iwp-icon-font-gen_arrow_down $iwp-icon-font-button-small $iwp-icon-font-family);

/**
 * @var {string/list}
 * Glyph for the downward "collapse" tool icon when {@link Global_CSS#$enable-font-icons} is `true`.
 */
$tool-collapse-bottom-glyph: dynamic($iwp-icon-font-gen_arrow_down $iwp-icon-font-button-small $iwp-icon-font-family);

/**
 * @var {string/list}
 * Glyph for the upward "expand" tool icon when {@link Global_CSS#$enable-font-icons} is `true`.
 */
$tool-expand-top-glyph: dynamic($iwp-icon-font-gen_arrow_up $iwp-icon-font-button-small $iwp-icon-font-family);

/**
 * @var {string/list}
 * Glyph for the upward "collapse" tool icon when {@link Global_CSS#$enable-font-icons} is `true`.
 */
$tool-collapse-top-glyph: dynamic($iwp-icon-font-gen_arrow_up $iwp-icon-font-button-small $iwp-icon-font-family);

/**
 * @var {string/list}
 * Glyph for the left "expand" tool icon when {@link Global_CSS#$enable-font-icons} is `true`.
 */
$tool-expand-left-glyph: dynamic($iwp-icon-font-gen_arrow_left $iwp-icon-font-button-small $iwp-icon-font-family);

/**
 * @var {string/list}
 * Glyph for the left "collapse" tool icon when {@link Global_CSS#$enable-font-icons} is `true`.
 */
$tool-collapse-left-glyph: dynamic($iwp-icon-font-gen_arrow_left $iwp-icon-font-button-small $iwp-icon-font-family);

/**
 * @var {string/list}
 * Glyph for the right "expand" tool icon when {@link Global_CSS#$enable-font-icons} is `true`.
 */
$tool-expand-right-glyph: dynamic($iwp-icon-font-gen_arrow_right $iwp-icon-font-button-small $iwp-icon-font-family);

/**
 * @var {string/list}
 * Glyph for the right "collapse" tool icon when {@link Global_CSS#$enable-font-icons} is `true`.
 */
$tool-collapse-right-glyph: dynamic($iwp-icon-font-gen_arrow_right $iwp-icon-font-button-small $iwp-icon-font-family);