@font-face {
  font-family: 'iwp';
  src:  url('fonts/iwp.eot?fmxxw3');
  src:  url('fonts/iwp.eot?fmxxw3#iefix') format('embedded-opentype'),
    url('fonts/iwp.ttf?fmxxw3') format('truetype'),
    url('fonts/iwp.woff?fmxxw3') format('woff'),
    url('fonts/iwp.svg?fmxxw3#iwp') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="iwp-icon-"], [class*=" iwp-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iwp' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iwp-icon-bdqv:before {
  content: "\e901";
}
.iwp-icon-bmw_intranet_search:before {
  content: "\e902";
}
.iwp-icon-ekgq:before {
  content: "\e938";
}
.iwp-icon-emt:before {
  content: "\e903";
}
.iwp-icon-eve:before {
  content: "\e904";
}
.iwp-icon-eve_aerodynamics:before {
  content: "\e905";
}
.iwp-icon-eve_assign:before {
  content: "\e906";
}
.iwp-icon-eve_catalog:before {
  content: "\e907";
}
.iwp-icon-eve_configuration:before {
  content: "\e908";
}
.iwp-icon-eve_data_maintenance:before {
  content: "\e909";
}
.iwp-icon-eve_examination:before {
  content: "\e90a";
}
.iwp-icon-eve_group:before {
  content: "\e90b";
}
.iwp-icon-eve_homologation:before {
  content: "\e90c";
}
.iwp-icon-eve_manual:before {
  content: "\e90d";
}
.iwp-icon-eve_market:before {
  content: "\e90e";
}
.iwp-icon-eve_new_car:before {
  content: "\e90f";
}
.iwp-icon-eve_pkw_outline:before {
  content: "\e9b4";
}
.iwp-icon-eve_rowi:before {
  content: "\e910";
}
.iwp-icon-eve_salesportal:before {
  content: "\e911";
}
.iwp-icon-fls:before {
  content: "\e912";
}
.iwp-icon-fls_aes:before {
  content: "\e913";
}
.iwp-icon-fls_bodyshell_outline:before {
  content: "\e914";
}
.iwp-icon-fls_ccb:before {
  content: "\e915";
}
.iwp-icon-fls_derivative_outline:before {
  content: "\e916";
}
.iwp-icon-fls_detailtext:before {
  content: "\e917";
}
.iwp-icon-fls_doc_freig_ok:before {
  content: "\e93a";
}
.iwp-icon-fls_doc_geo_ok:before {
  content: "\e93b";
}
.iwp-icon-fls_doc_ok:before {
  content: "\e918";
}
.iwp-icon-fls_escalation:before {
  content: "\e919";
}
.iwp-icon-fls_express_mode:before {
  content: "\e91a";
}
.iwp-icon-fls_factory:before {
  content: "\e91b";
}
.iwp-icon-fls_gfb:before {
  content: "\e91c";
}
.iwp-icon-fls_i_stages:before {
  content: "\e91d";
}
.iwp-icon-fls_kommunal:before {
  content: "\e922";
}
.iwp-icon-fls_module:before {
  content: "\e926";
}
.iwp-icon-fls_nael_no_prisma:before {
  content: "\e927";
}
.iwp-icon-fls_part:before {
  content: "\e928";
}
.iwp-icon-fls_part_list:before {
  content: "\e929";
}
.iwp-icon-fls_part_neu:before {
  content: "\e9b3";
}
.iwp-icon-fls_part2structure:before {
  content: "\e92a";
}
.iwp-icon-fls_progress:before {
  content: "\e92b";
}
.iwp-icon-fls_signing:before {
  content: "\e92c";
}
.iwp-icon-gams:before {
  content: "\e92d";
}
.iwp-icon-gen_add:before {
  content: "\e92e";
}
.iwp-icon-gen_add_col:before {
  content: "\e950";
}
.iwp-icon-gen_arrow_down:before {
  content: "\e92f";
}
.iwp-icon-gen_arrow_left:before {
  content: "\e930";
}
.iwp-icon-gen_arrow_right:before {
  content: "\e931";
}
.iwp-icon-gen_arrow_up:before {
  content: "\e932";
}
.iwp-icon-gen_back:before {
  content: "\e933";
}
.iwp-icon-gen_calc:before {
  content: "\e934";
}
.iwp-icon-gen_calendar:before {
  content: "\e93c";
}
.iwp-icon-gen_car_config:before {
  content: "\e93d";
}
.iwp-icon-gen_chart:before {
  content: "\e921";
}
.iwp-icon-gen_checkbox_checked:before {
  content: "\e900";
}
.iwp-icon-gen_checkbox_unchecked:before {
  content: "\e91e";
}
.iwp-icon-gen_close:before {
  content: "\e93e";
}
.iwp-icon-gen_close_l:before {
  content: "\e93f";
}
.iwp-icon-gen_close_s:before {
  content: "\e940";
}
.iwp-icon-gen_collection_collapse:before {
  content: "\e941";
}
.iwp-icon-gen_collection_expand:before {
  content: "\e942";
}
.iwp-icon-gen_comment:before {
  content: "\e943";
}
.iwp-icon-gen_confidental:before {
  content: "\e944";
}
.iwp-icon-gen_continue:before {
  content: "\e945";
}
.iwp-icon-gen_copy:before {
  content: "\e946";
}
.iwp-icon-gen_cut:before {
  content: "\e947";
}
.iwp-icon-gen_del_empty_col:before {
  content: "\e948";
}
.iwp-icon-gen_del_col:before {
  content: "\e973";
}
.iwp-icon-gen_delete:before {
  content: "\e949";
}
.iwp-icon-gen_detail_search:before {
  content: "\e94a";
}
.iwp-icon-gen_edit:before {
  content: "\e94b";
}
.iwp-icon-gen_email:before {
  content: "\e94c";
}
.iwp-icon-gen_engine:before {
  content: "\e94d";
}
.iwp-icon-gen_export_excel:before {
  content: "\e91f";
}
.iwp-icon-gen_export_excel_r:before {
  content: "\e974";
}
.iwp-icon-gen_export_pdf:before {
  content: "\e98a";
}
.iwp-icon-gen_external_app:before {
  content: "\e951";
}
.iwp-icon-gen_favorite:before {
  content: "\e952";
}
.iwp-icon-gen_file_upload:before {
  content: "\e935";
}
.iwp-icon-gen_fill:before {
  content: "\e953";
}
.iwp-icon-gen_filter:before {
  content: "\e954";
}
.iwp-icon-gen_filter_add:before {
  content: "\e98b";
}
.iwp-icon-gen_filter_empty_rows:before {
  content: "\e800";
}
.iwp-icon-gen_fit:before {
  content: "\e9b9";
}
.iwp-icon-gen_fullscreen:before {
  content: "\e955";
}
.iwp-icon-gen_goto:before {
  content: "\e956";
}
.iwp-icon-gen_graphics:before {
  content: "\e957";
}
.iwp-icon-gen_guided_tour:before {
  content: "\e936";
}
.iwp-icon-gen_help:before {
  content: "\e958";
}
.iwp-icon-gen_hierarchy_list_collapse:before {
  content: "\e959";
}
.iwp-icon-gen_hierarchy_list_expand:before {
  content: "\e95a";
}
.iwp-icon-gen_highlight_in_grid:before {
  content: "\e95b";
}
.iwp-icon-gen_hourglass:before {
  content: "\e95c";
}
.iwp-icon-gen_info:before {
  content: "\e95d";
}
.iwp-icon-gen_info_error:before {
  content: "\e801";
}
.iwp-icon-gen_info_info:before {
  content: "\e802";
}
.iwp-icon-gen_info_warning:before {
  content: "\e803";
}
.iwp-icon-gen_kontextmenu:before {
  content: "\e923";
}
.iwp-icon-gen_lang_de:before {
  content: "\e95e";
}
.iwp-icon-gen_lang_en:before {
  content: "\e95f";
}
.iwp-icon-gen_layoutmanager:before {
  content: "\e960";
}
.iwp-icon-gen_link:before {
  content: "\e961";
}
.iwp-icon-gen_linked_docs:before {
  content: "\e962";
}
.iwp-icon-gen_locked:before {
  content: "\e963";
}
.iwp-icon-gen_lync:before {
  content: "\e964";
}
.iwp-icon-gen_menu:before {
  content: "\e965";
}
.iwp-icon-gen_message:before {
  content: "\e966";
}
.iwp-icon-gen_minimize_size:before {
  content: "\e920";
}
.iwp-icon-gen_minus:before {
  content: "\e967";
}
.iwp-icon-gen_motorcycle:before {
  content: "\e937";
}
.iwp-icon-gen_nav_arrow_down:before {
  content: "\e968";
}
.iwp-icon-gen_nav_arrow_left:before {
  content: "\e969";
}
.iwp-icon-gen_nav_arrow_right:before {
  content: "\e96a";
}
.iwp-icon-gen_nav_arrow_up:before {
  content: "\e96b";
}
.iwp-icon-gen_nav_back:before {
  content: "\e96c";
}
.iwp-icon-gen_nav_end:before {
  content: "\e96d";
}
.iwp-icon-gen_nav_next:before {
  content: "\e96e";
}
.iwp-icon-gen_nav_start:before {
  content: "\e96f";
}
.iwp-icon-gen_ok:before {
  content: "\e970";
}
.iwp-icon-gen_paste:before {
  content: "\e971";
}
.iwp-icon-gen_person_info:before {
  content: "\e972";
}
.iwp-icon-gen_pin:before {
  content: "\e975";
}
.iwp-icon-gen_pin_active:before {
  content: "\e939";
}
.iwp-icon-gen_plus:before {
  content: "\e976";
}
.iwp-icon-gen_print:before {
  content: "\e977";
}
.iwp-icon-gen_radiobtn_checked:before {
  content: "\e924";
}
.iwp-icon-gen_radiobtn_unchecked:before {
  content: "\e925";
}
.iwp-icon-gen_refresh:before {
  content: "\e978";
}
.iwp-icon-gen_remove_filter:before {
  content: "\e804";
}
.iwp-icon-gen_run:before {
  content: "\e979";
}
.iwp-icon-gen_save:before {
  content: "\e97a";
}
.iwp-icon-gen_screenshot:before {
  content: "\e97b";
}
.iwp-icon-gen_search:before {
  content: "\e97c";
}
.iwp-icon-gen_settings:before {
  content: "\e97d";
}
.iwp-icon-gen_share:before {
  content: "\e97e";
}
.iwp-icon-gen_show_error_warning:before {
  content: "\e9ae";
}
.iwp-icon-gen_sort:before {
  content: "\e97f";
}
.iwp-icon-gen_sort_asc:before {
  content: "\e980";
}
.iwp-icon-gen_sort_desc:before {
  content: "\e981";
}
.iwp-icon-gen_sort_list_asc:before {
  content: "\e982";
}
.iwp-icon-gen_sort_list_desc:before {
  content: "\e983";
}
.iwp-icon-gen_split_bottom:before {
  content: "\e984";
}
.iwp-icon-gen_split_left:before {
  content: "\e985";
}
.iwp-icon-gen_split_right:before {
  content: "\e986";
}
.iwp-icon-gen_split_top:before {
  content: "\e987";
}
.iwp-icon-gen_status_lights:before {
  content: "\e9af";
}
.iwp-icon-gen_stop:before {
  content: "\e9b8";
}
.iwp-icon-gen_take_from_to:before {
  content: "\e9b0";
}
.iwp-icon-gen_text_doc:before {
  content: "\e9b1";
}
.iwp-icon-gen_time:before {
  content: "\e988";
}
.iwp-icon-gen_typschluessel:before {
  content: "\e9b2";
}
.iwp-icon-gen_undo:before {
  content: "\e989";
}
.iwp-icon-gen_upload:before {
  content: "\e94e";
}
.iwp-icon-gen_vis_part:before {
  content: "\e98c";
}
.iwp-icon-gen_warning:before {
  content: "\e98d";
}
.iwp-icon-gen_weight:before {
  content: "\e98e";
}
.iwp-icon-gen_zoom_in:before {
  content: "\e9ba";
}
.iwp-icon-gen_zoom_out:before {
  content: "\e9c7";
}
.iwp-icon-gewichtsberechnung:before {
  content: "\e9b5";
}
.iwp-icon-gewichtspflege:before {
  content: "\e9b6";
}
.iwp-icon-gewichtstabelle:before {
  content: "\e9b7";
}
.iwp-icon-iwp_add_app:before {
  content: "\e98f";
}
.iwp-icon-iwp_dashboard:before {
  content: "\e990";
}
.iwp-icon-iwp_task:before {
  content: "\e991";
}
.iwp-icon-light_derivatsauslegung:before {
  content: "\e9bb";
}
.iwp-icon-light_gams_fortschreibungsrel:before {
  content: "\e9bc";
}
.iwp-icon-light_gebietsrechenregelversion:before {
  content: "\e9bd";
}
.iwp-icon-light_lastfalldefinition:before {
  content: "\e9be";
}
.iwp-icon-light_open_config:before {
  content: "\e9bf";
}
.iwp-icon-light_rechenregel:before {
  content: "\e9c0";
}
.iwp-icon-light_search:before {
  content: "\e9c1";
}
.iwp-icon-light_select_all_in_grid:before {
  content: "\e9ac";
}
.iwp-icon-light_select_lines_in_grid:before {
  content: "\e9ad";
}
.iwp-icon-light_status_freigegeben:before {
  content: "\e9c2";
}
.iwp-icon-light_status_gesamtfr:before {
  content: "\e9c3";
}
.iwp-icon-light_status10_temp:before {
  content: "\e9c4";
}
.iwp-icon-light_status12_assessment:before {
  content: "\e9c5";
}
.iwp-icon-light_status18_berichtsystemefr:before {
  content: "\e9c6";
}
.iwp-icon-mqm:before {
  content: "\e992";
}
.iwp-icon-otd:before {
  content: "\e993";
}
.iwp-icon-otd2:before {
  content: "\e994";
}
.iwp-icon-pmc:before {
  content: "\e995";
}
.iwp-icon-pqm:before {
  content: "\e996";
}
.iwp-icon-pri_d_letter:before {
  content: "\e997";
}
.iwp-icon-pri_doc_background:before {
  content: "\e998";
}
.iwp-icon-pri_doc_outline:before {
  content: "\e999";
}
.iwp-icon-pri_folder_outline:before {
  content: "\e99a";
}
.iwp-icon-pri_st_letters:before {
  content: "\e99b";
}
.iwp-icon-pri_vers_background:before {
  content: "\e99c";
}
.iwp-icon-pri_vers_outline-08:before {
  content: "\e99d";
}
.iwp-icon-pri_vers_outline-10:before {
  content: "\e99e";
}
.iwp-icon-pri_vers_x:before {
  content: "\e99f";
}
.iwp-icon-pri_vers_x_outline:before {
  content: "\e9a0";
}
.iwp-icon-q_search:before {
  content: "\e9a1";
}
.iwp-icon-tam:before {
  content: "\e9a2";
}
.iwp-icon-tc_aera_edit:before {
  content: "\e9c8";
}
.iwp-icon-tc_remove_filter:before {
  content: "\e9c9";
}
.iwp-icon-tc_show_aera:before {
  content: "\e9ca";
}
.iwp-icon-tc_show_pulk:before {
  content: "\e9cb";
}
.iwp-icon-tc_tutorial:before {
  content: "\e9cc";
}
.iwp-icon-termin_cockpit:before {
  content: "\e9a3";
}
.iwp-icon-twenII:before {
  content: "\e94f";
}
.iwp-icon-vaas:before {
  content: "\e9a4";
}
.iwp-icon-vrm:before {
  content: "\e9a5";
}
.iwp-icon-wissensfinder_search:before {
  content: "\e9a6";
}
.iwp-icon-zeb_chart_settings:before {
  content: "\e9a7";
}
.iwp-icon-zeb_folder:before {
  content: "\e9a8";
}
.iwp-icon-zeb_new_scenario:before {
  content: "\e9a9";
}
.iwp-icon-zeb_tab_setup:before {
  content: "\e9aa";
}
.iwp-icon-zebra:before {
  content: "\e9ab";
}

